<div ng-switch on="list.length">


  <div ng-switch-when="0">
    <h2>You are not currently tracking any stocks.</h2>
    <a ui-sref="add">Click here to start tracking stocks.</a>
  </div>

  <div ng-switch-default>
    <p>Double click on a stock to delete it.</p>
    <table class="table">
      <tbody>
        <tr>
          <th>Remove</th>
          <th ng-repeat="(key, value) in list[0]">{{key}}</th>
        </tr>
        <tr ng-repeat="stock in list" ng-dblclick="deleteStock()">
          <td>
            <button class="btn btn-danger btn-sm" ng-click="deleteStock()">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
          <td ng-repeat="data in stock">{{data}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
